# Collector
# RabbitMQ
# Worker
# Api
# Mongo

# subir tudo => docker-compose up --build
# derrubar tudo => docker-compose down

version: '3'

services:
  # api_container:
  mongo:
    image: bitnami/mongodb:latest
    container_name: mongo
    restart: always
    env_file:
      - ./.env
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/bitnami/mongodb
    networks:
      - app-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 60s

  # worker:
  #   build:
  #     context: ./worker
  #     dockerfile: Dockerfile
  #   container_name: worker
  #   env_file:
  #     - ./worker/.env
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #     api:
  #       condition: service_started
  #   networks:
  #     - app-network

  # collector:
  #   build:
  #     context: ./collector
  #     dockerfile: Dockerfile
  #   container_name: collector
  #   env_file:
  #     - ./collector/.env
  #   depends_on:
  #     rabbitmq:
  #       condition: service_healthy
  #   networks:
  #     - app-network

  # api:
  #   build:
  #     context: ./backend/api
  #     dockerfile: Dockerfile
  #   container_name: api
  #   ports:
  #     - "3000:3000"
  #   env_file:
  #     - ./backend/api/.env
  #   depends_on:
  #     - mongo
  #     - rabbitmq
  #   networks:
  #     - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:
    driver: local
  rabbitmq_data:
    driver: local